.text{
    margin-top:80px;
    .row{
        .text-1{
            h6{
                font-family: 'AptaRegular';
                font-weight: 'normal';
                font-size:48px;
                line-height:60px;
            }
            p{
                font-family: 'AptaRegular';
                font-weight: 'normal';
                font-size:18px;
                line-height:28px;
            }
        }
    }
}