.textslider{
    .row{
        margin-top:16px;
        .col-md-8{
            h6{
                margin-top:48px;
                font-family: 'AptaRegular';
                font-weight: normal;
                font-size: 24px;
                line-height:32px;
            }
            .heading{
                margin-top:0;
                font-family: 'AptaRegular';
                font-weight: normal;
                font-size: 60px;
                line-height:72px;

            }
            .heading4{
                margin-top:80px;
                font-family: 'AptaRegular';
                font-weight: normal;
                font-size: 60px;
                line-height:72px;

            }
            .heading1{
                margin-top:48px;
                font-family: 'AptaBold';
                font-weight: bold;
                font-size: 24px;
                line-height:32px;

            }
            p{
                font-family: 'AptaRegular';
                font-weight: normal;
                font-size: 18px;
                line-height:24px;
                margin-top:24px;
            }
            ul{
                li{
                    margin-top: 8px;
                }
            }
            .another-swiper-container{
                width:100%;
                margin-top: 80px;
                .swiper-wrapper{
                    width:100%;
                    display: flex; // Ensure flex container for alignment
                    justify-content: flex-start; // Align items to the left
    
                    .swiper-slide {
                        width:100%;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start; // Align items to the left
    
                        .img-fluid {
                            width:100%;
                            height:100%;
                            border-radius: 8px;
                            object-fit: cover;
                        }
                        .img-fluid-1 {
                            height:100%;
                            border-radius: 8px;
                            object-fit: cover;
                        }
                        svg{
                            justify-content: center;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            z-index: 10; /* Ensure it appears above the image */
                        }
    
                        p {
                            font-family: 'AptaRegular';
                            font-weight: normal;
                            font-size: 16px;
                            margin-top: 16px;
                            text-align: left; // Align text to the left
                        }
                    }
                }
                .custom-button{
                
        
                    .btn-one{
                        .swiper-button-prev{
                            transform: scaleX(-1);
                            &::after{
                                content:"" !important;
                            }
                            svg{
                                margin-right:50px;
                                width:64px;
                                height:64px;
                                position:absolute;
        
                            }
    
                        }
                        .swiper-button-next{ 
                            
                            &::after{
                                content:"" !important;
                            }
                            svg{
                                margin-right:50px;
                                width:64px;
                                height:64px;
                                position:absolute;
        
                            }
                            
                        }
                    }
                }
            }
            .swiper-pagination{
                display:none;
            }
            .download-container {
                margin-top: 80px;
                position: relative; 
                color: black; 
                border-top:2px solid #BEC3C8;
                border-bottom:2px solid #BEC3C8;

    
                a {
                    display: block; 
                    color:black;
                    .d-flex{
                        column-gap:16px;
                        h6{
                            font-family: 'AptaRegular';
                            font-weight: normal;
                            font-size: 16px;
                            margin-top:0;
                            justify-content: flex-start;
                        }
                
                    }
                    
                    .d-flex-1{
                        display: inline-flex;
                        
                        .wrapper-1{
                            border-right: 2px solid #BEC3C8;
                            .badge {
                                border: 2px solid #BEC3C8;
                                font-family: 'AptaBold';
                                font-weight: bold;
                                font-size: 12px;
                                padding: 2px 7px; 
                                line-height: 18px;
                                margin-right: 16px;
                                transition: border 0.3s ease, outline 0.3s ease;
                
                                &:hover {
                                    background-color: #F2F3F4;      
                                }
                
                                &:active {
                                    background-color: #CBCFD3;
                                }
                
                                &:focus {
                                    outline: 1px solid #E5E7E9;
                                    outline-offset: 4px;
                                }
                
                                &:disabled {
                                    background-color: #F2F3F4;
                                }
                            }
                
                
                        }
                        .wrapper-2{
                            padding-left: 16px;
                            column-gap: 8px;
                            .label-red {
                                position:relative;
                                font-family: 'AptaBold';
                                font-weight: bold;
                                font-size: 12px;
                                padding: 2px 7px; 
                                line-height: 18px;
                                color: #FF5D64;
                                background-color: #FFE3E5;
                
                                &:hover {
                                    color: #FF5D64;
                                    background-color: hsla(357, 100%, 68%, 0.204);
                                }
                
                                &:active {
                                    color: #FF5D64;
                                    background-color: hsla(357, 100%, 68%, 0.204);
                                }
                
                                &:focus {
                                    color: #FF5D64;
                                    background-color: #FFE3E5;
                                    outline: 1px solid #E5E7E9;
                                }
                
                                &:disabled {
                                    color: #F2F3F4;
                                    background-color: #F2F3F4;
                                }
                            }
                
                            .label-blue {
                                position:relative;
                                font-family: 'AptaBold';
                                font-weight: bold;
                                font-size: 12px;
                                margin-left:8px;
                                padding: 2px 7px; 
                                line-height: 18px;
                                color: #175CD3;
                                background-color: hsla(218, 80%, 46%, 0.150);    
                
                                &:hover {
                                    color: #175CD3;
                                    background-color: hsla(218, 80%, 46%, 0.20);
                                }
                
                                &:active {
                                    color: #175CD3;
                                    background-color: hsla(218, 80%, 46%, 0.20);
                                }
                
                                &:focus {
                                    color: #175CD3;
                                    background-color: hsla(218, 80%, 46%, 0.150);
                                    outline: 1px solid #E5E7E9;
                                }
                
                                &:disabled {
                                    color: #F2F3F4;
                                    background-color: #F2F3F4;
                                }
                            }
                
                            .label-green {
                                position:relative;
                                font-family: 'AptaBold';
                                font-weight: bold;
                                font-size: 12px;
                                padding: 2px 7px;
                                line-height: 18px;
                                margin-left: 8px;
                                color: #027A48;
                                background-color: hsla(155, 97%, 24%, 0.15);
                
                                &:hover {
                                    color: #027A48;
                                    background-color: hsla(155, 97%, 24%, 0.209);
                                }
                
                                &:active {
                                    color: #027A48;
                                    background-color: hsla(155, 97%, 24%, 0.209);
                                }
                
                                &:focus {
                                    color: #027A48;
                                    background-color: #FFE3E5;
                                    outline: 1px solid #E5E7E9;
                                }
                            }
                            .label-grey {
                                font-family: 'AptaBold';
                                font-weight: bold;
                                font-size: 12px;
                                padding: 2px 7px;
                                line-height: 18px;
                                margin-left: 8px;
                                color: #667085;
                                background-color: hsla(221, 13%, 46%, 0.150);
                
                                &:hover {
                                    color: #667085;
                                    background-color: hsla(221, 13%, 46%, 0.200);
                                }
                
                                &:active {
                                    color: #667085;
                                    background-color: hsla(221, 13%, 46%, 0.200);
                                }
                
                                &:focus {
                                    color: #667085;
                                    background-color: #FFE3E5;
                                    outline: 1px solid #E5E7E9;
                                }
                            }
                            .label-purple {
                                font-family: 'AptaBold';
                                font-weight: bold;
                                font-size: 12px;
                                padding: 2px 7px;
                                line-height: 18px;
                                margin-left: 8px;
                                color: #A456D4;
                                background-color: hsla(277, 59%, 58%, 0.151);
                
                                &:hover {
                                    color: #A456D4;
                                    background-color:hsla(277, 59%, 58%, 0.200);
                                }
                
                                &:active {
                                    color: #A456D4;
                                    background-color: hsla(277, 59%, 58%, 0.200);
                                }
                
                                &:focus {
                                    color: #A456D4;
                                    background-color: #FFE3E5;
                                    outline: 1px solid #E5E7E9;
                                }
                            }
                            .label-pink {
                                font-family: 'AptaBold';
                                font-weight: bold;
                                font-size: 12px;
                                padding: 2px 7px;
                                line-height: 18px;
                                margin-left: 8px;
                                color: #D94295;
                                background-color: hsla(327, 67%, 55%, 0.151);
                
                                &:hover {
                                    color: #D94295;
                                    background-color: hsla(327, 67%, 55%, 0.200);
                                }
                
                                &:active {
                                    color: #D94295;
                                    background-color: hsla(327, 67%, 55%, 0.200);
                                }
                
                                &:focus {
                                    color: #D94295;
                                    background-color: #FFE3E5;
                                    outline: 1px solid #E5E7E9;
                                }
                            }
                        }
                        
                    }
    
                    .title {
                        color:black;
                        
                        h4 {
                            width:100%;
                            font-family: 'AptaBold';
                            font-weight: bold;
                            font-size: 24px;
                            color: black; // Text color for <h4> within the .d-flex
                            text-decoration: none;
                            margin-bottom:0;
                        }
    
                        svg {
                            display: flex;
                            margin-right: 20px;
                        }
    
                    }
                    margin-top: 16px;
                    margin-bottom: 24px;

                    &:hover{
                        text-decoration: none;
                    }
                }
    
               
            }
            .container{
                margin-top:80px;
                padding:40px;
                background-color: #F2F3F4;
                border-left:4px solid #667085;
                border-radius:0 16px 16px 0;
                h6{
                    margin-top:0;
                    margin-bottom:32px;
                    font-family: 'AptaBold';
                    font-weight:'bold';
                    font-size: 20px;
                    line-height:30px;
                }
                .links{
                    .link-item{
                        margin-bottom:8px;
                        .d-flex{
                            text-decoration: none;
                            color: black;
                            text-decoration:underline 2px solid #667085;
                            text-underline-offset: 4px;
                            align-items:center;
                            p{
                                margin:0;
                                font-family: 'AptaRegular';
                                font-weight:'normal';
                                font-size: 18px;
                                line-height:28px;
                                margin-left:4px;
                                
                            }
                            

                        }
                        

                    }
                }
            }
        }
    }
}
@media(max-width:425px){
    .textslider{
        .row{
            .col-md-8{
                margin-left:0;
                .another-swiper-container{
                    .custom-button{
                        align-items: center;
                        .btn-one{
                            .swiper-button-prev{
                                svg{
                                    margin-right:16px;
                                    width:43.29px;
                                    height:43.29px;
                                }
                            }
                            .swiper-button-next{
                                svg{
                                    margin-right:16px;
                                    width:43.29px;
                                    height:43.29px;
                                }
                            }
    
                        }
                    }
                }
            }
        }
    }
}

            