$alert-bg-color:red;
$alert-border-radius:16px;
$alert-width:1640px;
$alert-height:16px;
$alert-text-color:white;
$hero-image-height:500px;
$text-link-box-height:88px;
$text-link-box-width:410px;
$card-height:550px;
$photo-input-height: 96px;
$photo-input-width:720px;